.card {
    transition: transform 0.2s;
    
    &:hover {
        transform: scale(1.03);
    }

     &:focus-visible {
        outline: 3px solid
            light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-6));
        border-color: transparent;
    }
}

.image {
    background-color: light-dark(
        var(--mantine-color-gray-1),
        var(--mantine-color-dark-8)
    );
}
