.searchBar {
    transition: none;
    input {
        background-color: light-dark(
            var(--mantine-color-gray-1),
            var(--mantine-color-dark-8)
        );
    }

    input:focus-visible {
        outline-width: 3px;
        outline-style: solid;
        outline-color: light-dark(
            var(--mantine-color-blue-6),
            var(--mantine-color-blue-6)
        );
        border-color: transparent;
    }
}
