.logo:hover {
    .logoSygnet {
        animation: roll 1.2s ease-in-out;
    }
}

.logoSygnet {
    color: light-dark(var(--mantine-color-red-6), var(--mantine-color-red-7));
    transform: rotate(-25deg);
}

.logoText {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1em;
}

.navBtn {
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);

    &:hover {
        background-color: light-dark(
            var(--mantine-color-gray-3),
            var(--mantine-color-dark-8)
        );
    }
}

@keyframes roll {
    0% {
        transform: rotate(-25deg);
    }
    30% {
        transform: rotate(28deg);
    }
    55% {
        transform: rotate(20deg);
    }
    95% {
        transform: rotate(-32deg);
    }
    100% {
        transform: rotate(-25deg);
    }
}
